<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <title>Design</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand ms-5" href="home">Clothes Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="design">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="d-flex flex-column bd-highlight justify-content-center align-items-center w-75 ms-5">
        <h1 class="display-5 mt-4 mb-5">Design Your Cloth</h1>
        <form method="post" th:object="${cloth}">
            <!-- We bind @ModelAttribute called cloth to this HTML form whcih means Cloth model is binded with this form.-->
            <div th:if="${#fields.hasErrors()}">
                <span>
                    Please correct the problems below and resubmit
                </span>
            </div>
            <div class="form-group">
                <label for="clothName">Cloth name:</label>
                <!-- By using th:field we "bind" fighter model java fields to html input that we will provide-->
                <input type="text" th:field="*{name}" class="form-control" id="clothName" aria-describedby="ClothHelp"
                    placeholder="Cloth Name">
                <div id="ClothHelp" class="form-text text-muted">Provide Cloth Name</div>
            </div>
            <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>

            <div class="form-group">
                <label for="yearOfCreation" class="form-label">Year of Creation:</label>
                <input type="number" th:field="*{yearOfCreation}" class="form-control" id="yearOfCreation"
                    placeholder="Year of Creation">
            </div>
            <span class="validationError" th:if="${#fields.hasErrors('yearOfCreation')}"
                th:errors="*{yearOfCreation}">Year of Creation Error</span>

            <div class="form-group">
                <label for="price" class="form-label">Price:</label>
                <input type="number" step="0.1" th:field="*{price}" class="form-control" id="price" placeholder="Price">
            </div>
            <span class="validationError" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price
                Error</span>

            <div class="form-group">
                <select th:field="*{brandFrom}" class="form-control mt-4" aria-label="Anime Selection">
                    <option th:each="cloth: ${clothes}" th:value="${cloth}" th:text="${cloth.title}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Create Cloth</button>

        </form>
    </div>
</body>

</html>